{% extends 'base.html' %}
{% block conteudo %}
    {% load widget_tweaks %}
     <h1 style="margin: 30px">{% if requerimento %}
         Editar Requerimento{% else %}
         Criar Requerimento{% endif%}
     </h1>
        <form method="POST" role="form" class="form-group" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
                <p><h4><span class="label label-default" for="{{field.name}}">{{ field.name.upper}}</span></h4></p>
                {{field |add_class:'form-control'}}
            {% endfor %}
            <input type="submit" class="btn btn-primary" value="Salvar">
        </form>
{% endblock %}
