{% extends 'base.html' %}
{% block conteudo %}

    <div id="conteudo">
        <ul class="list-group">
            <li class="list-group-item">Aluno: {{ requerimento.aluno }}</li>
            <li class="list-group-item">Curso: {{ requerimento.aluno.curso }}</li>
            <li class="list-group-item">Tipo de Requerimento: {{ requerimento.tipo_requerimento }}</li>
            <li class="list-group-item">Disciplina: {{ requerimento.disciplina}}</li>
            <li class="list-group-item">Data da Atividade: {{ requerimento.data_atividade }}</li>
            <li class="list-group-item">Professor: {{ requerimento.professor_atividade }}</li>
            <li class="list-group-item">Documento Apresentado: {{ requerimento.documentos_files.url }}</li>
            <li class="list-group-item">Arquivo: {{ requerimento.documentos_files }}</li>
        </ul>
    </div>
    <button onclick="gerarPDF()" id="gerarPDF">Gerar Comprovante</button>
{% endblock %}