{% extends 'base.html' %}
{% block conteudo %}

    {% if not requerimento %}
            <h2>NÂO HÀ REQUERIMENTOS</h2>
    {% else %}
    <h2>Requerimentos</h2>
    <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'req_list_deferidos' %}">
      <div class="form-group">
          <label for="criterio">Descrição:</label>
        <input type="text" id="criterio" name="criterio" value="{{ criterio }}" class="form-control" placeholder="Descrição">
      </div>
      <button type="submit" class="btn btn-default">Buscar</button>
    </form>
    <table class="table table-hover">
        <tr>
            <th>Nº</th>
            <th>Tipo</th>
            <th>Data da Solicitação</th>
            <th> Justificativa </th>
            <th> Tipo Atividade </th>
            <th> Data da Atividade</th>
            <th> Professor </th>
            <th> Disciplina </th>
            <th> Situação </th>
        </tr>
        {% for requerimento in requerimento %}
            <tr>
                <td> {{ requerimento.id }}</td>
                <td><a href="{% url 'req_detail' requerimento.pk %}">{{ requerimento.tipo_requerimento }}</a></td>
                <td>{{ requerimento.data_solicitacao_requerimento }}</td>
                <td> {{ requerimento.justificativa }}</td>
                <td> {{ requerimento.tipo_atividade }} </td>
                <td> {{ requerimento.data_atividade }}</td>
                <td> {{ requerimento.professor_atividade }}</td>
                <td> {{ requerimento.disciplina }}</td>
                 <td> {{ requerimento.situacao }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include 'paginacao.html' %}
    {% endif %}
{% endblock %}