{% extends 'base.html' %}
{% block conteudo %}
    <h2>Requerimentos</h2>
   <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'req_list_deferidos' %}">
        <div class="form-group">
            <label for="criterio">Descrição:</label>
            <input type="text" id="criterio" name="criterio" value="{{ criterio }}" class="form-control" placeholder="Descrição">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
    </form>
        <table class="table table-hover">
        <tr>
            <th>Aluno</th>
            <th>Tipo</th>
            <th>Disciplina</th>
            <th>Data da Solicitação</th>
            <th>Situação</th>
        </tr>
        {% for requerimento in requerimento %}
            <tr>
                <td>{{ requerimento.aluno.first_name }}</td>
                <td> {{ requerimento.tipo_requerimento }}</td>
                <td> {{ requerimento.disciplina }} </td>
                <td>{{ requerimento.data_solicitacao_requerimento }}</td>
                <td>{{ requerimento.situacao }}</td>
            </tr>
        {% endfor %}
    </table>
    {% include 'paginacao.html' %}
{% endblock %}